html, body {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.6;
    margin: 40px;
}

h1{
font-size: 23;
line-height: 32px;
font-weight: bold;
text-align: center;
margin-bottom: 40px;
}

.content{
max-width: 800px;
margin-left: auto;
margin-right: auto;

}

h2{
    font-size: 18;
    margin-top: 40px;
    }

body {
    font-size: 16;
}

img{
    margin-right: auto;
    margin-left: auto ;
    display: block;
}
blockquote {
    line-height: 1;
}